{% extends 'blog/base.html' %}
{% load staticfiles %}
{% block content %}
<main class="mdl-layout__content">
    <div class="mdl-grid portfolio-max-width">
        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
            <div class="mdl-card__title">
                <h2 class="mdl-card__title-text">404 NOT FOUND</h2>
            </div>
            <div class="mdl-card__media">
                <img class="article-image" src='{% static "/image/aboutus.jpeg" %}' border="0" alt="">
            </div>
        </div>
    </div>
</main>
{% endblock %}	
