{% extends 'blog/base.html' %}
{% load staticfiles %}
    {% block content %}

<main class="mdl-layout__content">
    <div class="mdl-grid portfolio-max-width">
        <div class="mdl-cell mdl-cell--12-col mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{ post.title }}</h2>
        </div>
            <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
            <p>{{ post.category }}, Posted at {{ post.created_time }}</p>
            </div>


        <div class="mdl-cell mdl-cell--8-col mdl-card__supporting-text no-padding ">
	       {{ post.content }}
        </div>

<div>
	{% for comment in comments %}

	{{ comment.auther }}
	{{ comment.content }}
	
	{% endfor %}
</div>

<div>
	<form action="{% url 'detail' id=post.id %}" method="post" class="" id="tf">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label is-upgraded">
    {% csrf_token %}
    {{ form }}
    <br>
     <div class="am-cf" id="fp">
      <input type="button" value="Comment" id="fp_result" class="" onclick="submit_comment()"/>   
     </div>
    </div>
	</form>
</div>
<script>
function submit_comment() {
    $('#btn_comment').popover('close');
    $("#comment_form").ajaxSubmit({
        success: function (result) {
            eval("var result = " + result);
            console.log(result.message);
            $('#btn_comment').popover('setContent', result.message);
            $('#btn_comment').popover('open');
        }
    });
    return false;
}
</script>

</div>
</div>
</main>
    {% endblock %}