{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="A portfolio template that uses Material Design Lite.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>MDL-Static Website</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.grey-pink.min.css" />
    <link rel="stylesheet" href='{% static "/mdl/styles.css" %}' />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
            <div class="mdl-layout__header-row portfolio-logo-row">
                <span class="mdl-layout__title">
                    <div class="portfolio-logo"></div>
                    <span class="mdl-layout__title">Simple portfolio website</span>
                </span>
            </div>
            <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
                <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                    <a class="mdl-navigation__link  {% if request.path == '/index' or request.path == '/' %}is-active{% endif %}" href="index">Home</a >
                    <a class="mdl-navigation__link {% if request.path == '/archives' %}is-active{% endif %}" href="archives">Archives</a>
                    <a class="mdl-navigation__link {% if request.path == '/intro' %}is-active{% endif %}" href="intro">About</a >
                    <a class="mdl-navigation__link {% if request.path == '/admin' %}is-active{% endif %}" href="admin">Login</a >

                </nav>
            </div>
        </header>

        <div class="mdl-layout__drawer mdl-layout--small-screen-only">
            <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
                <a class="mdl-navigation__link {% if request.path == '/index' or request.path == '/' %}is-active{% endif %}" href="index">Home</a>
                <a class="mdl-navigation__link {% if request.path == '/archives' %}is-active{% endif %}" href="archives">Archives</a>
                <a class="mdl-navigation__link {% if request.path == '/intro' %}is-active{% endif %}" href="intro">About</a>
                <a class="mdl-navigation__link {% if request.path == '/admin' %}is-active{% endif %}" href="admin">Login</a>
            </nav>
        </div>
    </div>

    <div class="mdl-layout__content">
        <div class="mdl-grid portfolio-max-width">
            <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
            {% block content %}

            {% endblock %}
            </div>
        </div>
    </div>

    <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
            <div class="mdl-logo">Polyu Hot Links</div>
        </div>
        <div class="mdl-mini-footer__right-section">
            <ul class="mdl-mini-footer__link-list">
                <li><a href="https://my.polyu.edu.hk/">My Polyu</a></li>
                <li><a href="https://www38.polyu.edu.hk/eStudent/">eStudent</a></li>
            </ul>
        </div>
    </footer>
</body>
</html>