{% extends 'blog/base.html' %}
{% load staticfiles %}
    {% block content %}
<main class="mdl-layout__content">
    <center>
        <div class='searchForm'>
            <form action="{% url 'search' %}" method="post">
                {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" id="id_{{ form.search.name }}" name="{{ form.search.name }}" value="{% if form.search.value != None %}{{ form.search.value }}{% endif %}" >
                <label class="mdl-textfield__label" for="id_{{ form.search.name }}">Search</label>
            </div>
        <input type="submit" value="search" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" />
                {% if form.errors  %}
                    <script>alert("Please input the key word!");</script>
        {% endif %}
        </form>
        </div>
    </center>
    <div class="mdl-grid portfolio-max-width">
        <h4>Latest Articles</h4>
    </div>
    {% if result %}
        <div class="mdl-grid portfolio-max-width">
            <script>var cnt = 1;</script>
            {% for content in result %}
                <script>
                if (cnt%4 == 1) {
                    document.write('<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">');
                    document.write('    <div class="mdl-card__media mdl-cell mdl-cell--12-col-tablet">');
                } else if (cnt%4 == 2 || cnt%4 == 3) {
                    document.write('<div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">');
                    document.write('    <div class="mdl-card__media">');
                } else {
                    document.write('<div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">');
                    document.write('<div class="mdl-card__media mdl-cell mdl-cell--12-col-tablet">');
                }
                </script>
                    <a href="{% url "detail" id=content.id %}">
                        <img class="article-image" src="{{content.cover}}" border="0" alt="">
                    </a>
                <script>
                document.write('</div>');
                if (cnt%4 == 1) document.write('<div class="mdl-cell mdl-cell--8-col">');
                else if (cnt%4 == 2) document.write('<div class="mdl-card__title">');
                else if (cnt%4 == 3) document.write('<div class="mdl-card__supporting-text">');
                else document.write('<div class="mdl-cell mdl-cell--8-col">');
                </script>
                    <a href="{% url "detail" id=content.id %}">
                        <h2 class="mdl-card__title-text">{{content.title}}</h2>
                    </a>
                    <script>
                    if (cnt%4 == 1) document.write('<div class="mdl-card__supporting-text padding-top">');
                    else if (cnt%4 == 2) document.write('<div class="mdl-card__supporting-text no-bottom-padding">');
                    else document.write('<div class="mdl-card__supporting-text padding-top">');
                    </script>
                    <span>Posted by {{content.author}}, {{content.created_time}}</span>
                    <h6>Category: <a class="category" href="/category/{{ content.category.id }}" %}">{{ content.category }}</a></h6>
                <script>
                document.write('</div></div></div>');
                cnt++;
                </script>
            {% endfor %}
        </div>
    {% else %}
        <div>No Articles!</div>
    {% endif %}
    <center>
        <form action="{% url 'search' %}" method="post">
        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="id_{{ form.search.name }}" name="{{ form.search.name }}" value="{% if form.search.value != None %}{{ form.search.value }}{% endif %}" >
            <label class="mdl-textfield__label" for="id_{{ form.search.name }}">Search</label>
        </div>  
        <input type="submit" value="search" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" />
    </form>
    </center>
</main>
{% endblock %}            
